{% extends 'base.html' %}
{% block content %}

<section class="section auth">
  <div class="auth-card">
    <h2>Создать аккаунт</h2>
    <p>Регистрация позволит сохранять заказы и быстрее оформлять покупки.</p>

    <form method="post" class="auth-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="button">Зарегистрироваться</button>
    </form>

    <p class="auth-note">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
  </div>
</section>

{% endblock %}
